/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poetsen+One&display=swap");

/* CSS Variables */

:root {
  --primary-font: "Pacifico", cursive;
  --secondary-font: "Poetsen One", sans-serif;
  --back-ground-color: #bfecff; /* Light Blue Background */
  --nav--secondary-color: gray; /* Gray */
  --primary-color: black; /* Black */
  --dudu-card-color: #96d8b5; /* Light Green */
  --bubu-card-color: #f1f0ff; /* Light Pink */
  --contact-us-color: #ffb74d; /* Orange */
  --success-card-color: #e6308a; /* Pink */
}

/* Global Styles */

body {
  padding-top: 50px;
  font-family: var(--primary-font);
  color: var(--primary-color);
  background-color: var(--back-ground-color);
}

p {
  font-family: var(--secondary-font);
}

h2 {
  padding-bottom: 10px;
}

footer {
  padding-top: 25px;
}

#contact-form {
  padding-top: 50px;
}

/*Navbar Styles */

#navbar,
.navbar-brand,
.navbar-nav .nav-link {
  background: transparent;
  border: none;
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
  color: var(--nav--secondary-color);
}
.navbar-nav .nav-link.active {
  color: var(--nav--secondary-color);
}

@media (max-width: 767.98px) {
  .navbar-collapse {
    text-align: right;
  }
  .navbar-nav {
    margin-left: auto !important;
    margin-right: 0 !important;
    align-items: flex-end !important;
    width: 100%;
    display: block !important;
  }
  .navbar-nav .nav-item {
    width: 100%;
  }
  .navbar-nav .nav-link {
    display: block;
    width: 100%;
    text-align: right;
    padding-right: 1rem;
    padding-left: 0;
  }
}


/* Dudu Card Styles */

.character-dudu .card {
  margin-bottom: 2rem;
  height: 95%;
  background-color: var(--dudu-card-color);

  border: solid 0px var(--back-ground-color);
  border-radius: 22px;
  overflow: hidden;
  transition: transform 0.6s;
}

.character-dudu .card:hover {
  transform: scale(1.05);
}

.character-dudu .card-img-top {
  border-bottom: 4px solid var(--back-ground-color);
}

/* Bubu Card Styles */

.character-bubu .card {
  margin-bottom: 2rem;
  height: 95%;
  background-color: var(--bubu-card-color); /* Light Pink Background */

  border: solid 0px var(--back-ground-color);
  border-radius: 22px;
  overflow: hidden;
  transition: transform 0.6s;
}

.character-bubu .card:hover {
  transform: scale(1.05);
}

.character-bubu .card-img-top {
  border-bottom: 4px solid var(--back-ground-color);
}

/* Character Card Contact Us */

.contact-us-card .card {
  margin-bottom: 2rem;
  height: 95%;
  background-color: var(--contact-us-color); /* Light Orange Background */

  border: solid 0px var(--back-ground-color);
  border-radius: 22px;
  overflow: hidden;
  transition: transform 0.6s;
}

.contact-us-card .card-img-top {
  border-bottom: 4px solid var(--back-ground-color);
}

/* Success Page Card Styles */

.success-card .card {
  margin-bottom: 2rem;
  height: 95%;
  background-color: var(--success-card-color); /* Light Pink Background */

  border: solid 0px var(--back-ground-color);
  border-radius: 22px;
  overflow: hidden;
  transition: transform 0.6s;
}

.success-card .card:hover {
  transform: scale(1.05);
}

.success-card .card-img-top {
  border-bottom: 4px solid var(--back-ground-color);
}

/* Footer Styles */

#character-selection, #character-footer, #character-page {
  padding-top: 20px;
  padding-bottom: 20px;
}


#footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.social-links i {
  color: var(--primary-color);
  font-size: 2rem;
  margin-right: 5px;
}

.social-links i {
  font-size: 1.9rem;
  transition: color 0.6s ease-in-out;
}

.social-links i:hover {
  color: var(--secondary-color);
}


/*Custom-button*/
.custom-button-outline {
  border: 2px solid var(--dudu-card-color);
  color: black;
  background: transparent;
  border-radius: 50px;
  padding: 0.5rem 2rem;
  font-weight: 600;
  transition: background 0.2s, color 0.2s;
}
.custom-button-outline:hover {
  background: var(--bubu-card-color);
  color: black;
}
